<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalmChat | CreateRoom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <main class="container-sm w-25 mt-5 align-middle justify-content-center">
        <form class="d-grid gap-2" action="/user/<%= userId %>/join " method="POST">
          <h1 class="h3 mb-3 fw-normal text-center">Join Room</h1>
            
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="roomName" placeholder="Room Name..." required>
            <label for="roomName">Room Name</label>
          </div>
                    
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="roomPass" placeholder="Please enter Room-Pass.." required>
            <label for="roomPass">Room-Pass</label>
          </div>
      
          <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Join</button>
          <p class="mt-5 mb-3 text-muted text-center">&copy; CalmChat 2021</p>
        </form>
    </main>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>